#main #title {
  background-color: #3d5d5a;
  font-size: 6vh;
  width: 25vh;
  height: 10vh;
  text-align: center;
  margin: 3vh auto;
}

#answers {
    display: flex;
    flex-direction: column;
    background-color: #3d5d5a;
    text-align: right;
    width: 26vh;
    padding-right: 2vh;
    margin-left: auto;
}

    #answers #correct {
        color: #00ff00;
    }

    #answers #wrong {
        color: #ff0000;
    }

#answer {
    background-color: #3d5d5a;
    font-size: 4vh;
    text-align: center;
    width: 14vh;
    height: 6vh;
    margin: 3vh auto;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wrapper button {
    display: block;
    text-align: center;
    font-size: 3.5vh;
    width: 28vh;
    height: 10vh;
    margin: 2vh auto 2vh auto;
}
