body {
    height: 100vh;
    margin: 0 0;
    user-select: none;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #4d7471;
    background: url("../images/Welcome.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

button {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5vh;
    position: relative;
    display: block;
    margin: 0 auto;
    top: 70vh;
    width: 25vw;
    height: 10vh;
}
